.selectMenu {
  filter: drop-shadow(1px 1px 1px var(--primary-button-bg-color));
  width: 250px;
}

.menuBtn {
  background: var(--primary-button-bg-color);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgb(241, 241, 241);
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 990;
  padding: 8px 0 16px 0;
}

.menuItem {
  color: var(--primary-button-bg-color);
  display: block;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .selectMenu {
    width: 175px;
  }
  .menuBtn {
    justify-content: initial;
    gap: 5px;
  }
}

@media (max-width: 1130px) {
  .menuBtn {
    font-size: 17px;
  }
}
