.userList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
  width: 100%;
}

.moreBtn {
  padding: 5px 15px;
  border-radius: 8px;
  color: #fff;
  font-size: 18px;
}
