@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "KasperskySans";
  src: url("./fonts/KasperskySans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "KasperskySansBold";
  src: url("./fonts/KasperskySans-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "KasperskyMono";
  src: url("./fonts/KasperskySansMono-Regular.woff") format("woff");
  font-weight: normal;
  font-weight: normal;
}

@font-face {
  font-family: "KasperskyMonoBold";
  src: url("./fonts/KasperskySansMono-Bold.woff") format("woff");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: var(--kaspersky-sans);
}

:root {
  --kaspersky-sans: "KasperskySans";
  --kaspersky-sans-bold: "KasperskySansBold";
  --kaspersky-mono: "KasperskyMono";
  --kaspersky-mono-bold: "KasperskyMonoBold";
  --color-text-icons-elements__primary: #0d0d15;
  --color-text-icons-elements__base: rgba(42, 53, 65, 0.95);
  --color-text-icons-elements__secondary: rgba(42, 53, 65, 0.8);
  --color-text-icons-elements__baseicon: rgba(39, 53, 68, 0.6);
  --color-text-icons-elements__disabled: rgba(34, 52, 73, 0.4);
  --color-text-icons-elements__primary-invert: #f5f8fb;
  --color-text-icons-elements__base-invert: rgba(239, 245, 250, 0.82);
  --color-text-icons-elements__secondary-invert: rgba(231, 238, 247, 0.66);
  --color-text-icons-elements__baseicon-invert: rgba(231, 241, 253, 0.49);
  --color-text-icons-elements__disabled-invert: rgba(229, 236, 251, 0.36);
  --color-text-icons-elements__emerald: #088572;
  --color-text-icons-elements__yellow: #754706;
  --color-text-icons-elements__red: #db3545;
  --color-background__base: #ffffff;
  --color-background__primary: #eff2f6;
  --color-background__base-invert: #0d0d15;
  --color-background__primary-invert: #0d0d15;
  --color-controlsbg__base: #ffffff;
  --color-controlsbg__base-invert: #1d1c28;
  --color-controlsbg__white-hover: #f5f7f9;
  --color-controlsbg__emerand-default: #1da189;
  --color-controlsbg__emerald-hover: #088572;
  --color-controlsbg__emerald-pressed: #06675b;
  --color-controlsbg__red-default: #fa625b;
  --color-controlsbg__red-hover: #e54d4d;
  --color-controlsbg__red-pressed: #d02535;
  --color-controlsbg__gray-default: rgba(15, 81, 157, 0.08);
  --color-controlsbg__gray-hover: rgba(41, 77, 117, 0.12);
  --color-controlsbg__gray-pressed: rgba(29, 54, 83, 0.17);
  --color-elements__line: rgba(31, 50, 71, 0.27);
  --color-elements__seporator: rgba(41, 77, 117, 0.09);
  --color-elements__seporatorbold: rgba(29, 54, 83, 0.17);
  --color-elements__line-invert: rgba(231, 228, 249, 0.26);
  --color-elements__seporator-invert: rgba(217, 212, 255, 0.12);
  --color-elements__seporatorbold-invert: rgba(233, 230, 255, 0.17);
  --color-criticalitystatuses__high: #db3545;
  --color-criticalitystatuses__medium: #f9b339;
  --color-criticalitystatuses__low: #b2b8bf;
  --color-criticalitystatuses__info: #426fec;
  --color-criticalitystatuses__positive: #1da189;
  --color-tags__yellow: #ffebc2;
  --color-tags__emerald: #c0f0e7;
  --color-tags__grass: #e1f5d7;
  --color-tags__marina: #d3e2ff;
  --color-tags__marengo: #c3f0fd;
  --color-tags__neutral: #e6e7e9;
  --color-tags__orange: #ffe7d9;
  --color-tags__purple: #f3f2ff;
  --color-tags__red: #ffe1df;
  --color-tags__violet: #fbddf3;
  --color-tags__yellow-invert: #a5630c;
  --color-tags__emerald-invert: #06675b;
  --color-tags__grass-invert: #467a42;
  --color-tags__marengo-invert: #06638d;
  --color-tags__marina-invert: #293d9a;
  --color-tags__neutral-invert: #505862;
  --color-tags__orange-invert: #a63b29;
  --color-tags__purple-invert: #554590;
  --color-tags__red-invert: #b21a35;
  --color-tags__violet-invert: #89307e;
  --color-surface__yellow: #fff1d6;
  --color-surface__emerald: #dff8f3;
  --color-surface__grass: #f1faee;
  --color-surface__marengo: #e4f6fd;
  --color-surface__marina: #e9f0ff;
  --color-surface__coldgrey: #f2f3f4;
  --color-surface__orange: #fff3ec;
  --color-surface__red: #ffecea;
  --color-surface__violet: #feedfa;
  --color-fixed__basewhite: #fff;
  --color-fixed__base: #0d0d15;
  --color-staticpalette__statictransparent: rgba(0, 0, 0, 0);
  --color-primary-rest: #00a88e;
  --color-primary-ready: #23d1ae;
  --color-primary-active: #006d5c;
  --color-destructive-rest: #ed2939;
  --color-destructive-ready: #ff4455;
  --color-destructive-active: #bd1c29;
  --color-warning-rest: #ffaa00;
  --color-warning-ready: #ffbe26;
  --color-warning-active: #e9980a;
  --color-blue-rest: #51aee2;
  --color-blue-ready: #58c3ff;
  --color-blue-active: #0080c7;
  --color-black: #1d1d1b;
  --color-black-secondary: #666666;
  --color-gray-rest: #b3b3b3;
  --color-gray-active: #999999;
  --color-gray-disabled: #cccccc;
  --color-gray-line: #d9d9d9;
  --color-gray-disabled-secondary: #f2f2f2;
  --color-gray-background: #eff2f6;
  --color-white: #ffffff;
  --color-vk: #4c75a3;
  --color-facebook: #1877f2;
  --color-banner-border-primary: #6bc9b8;
  --color-banner-background-primary: #dff8f3;
  --color-banner-border-info: #7aa7ff;
  --color-banner-background-info: #dfe7f9;
  --color-banner-border-warning: #ffd17a;
  --color-banner-background-warning: #fff1d6;
  --color-banner-border-danger: #ffa29d;
  --color-banner-background-danger: #ffecea;
  --button-font-size: 14px;
  --button-line-height: 1.42857143em;
  --button-padding-x: 12px;
  --button-padding-y: 6px;
  --button-icon-size: 16px;
  --button-icon-margin: 8px;
  --button-border-width: 1px;
  --button-border-radius: 5px;
  --button-transition: background-color 225ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 225ms cubic-bezier(0.25, 0.8, 0.25, 1);
  --primary-button-bg-color: #1da189;
  --primary-button-bg-color-hover: #088572;
  --primary-button-bg-color-active: #06675b;
  --primary-button-bg-color-disabled: rgba(0, 0, 0, 0);
  --primary-button-bg-color-disabled-border: rgba(29, 54, 83, 0.17);
  --primary-button-text-color: #fff;
  --primary-button-text-color-disabled: rgba(34, 52, 73, 0.4);
  --secondary-white-button-bg-color: #ffffff;
  --secondary-white-button-bg-color-hover: #f5f7f9;
  --secondary-white-button-bg-color-active: #ffffff;
  --secondary-white-button-bg-color-disabled: #ffffff;
  --secondary-white-button-bg-color-disabled-border: rgba(0, 0, 0, 0);
  --secondary-white-button-text-color: #0d0d15;
  --secondary-white-button-text-color-disabled: rgba(34, 52, 73, 0.4);
  --secondary-gray-button-bg-color: rgba(15, 81, 157, 0.08);
  --secondary-gray-button-bg-color-hover: rgba(41, 77, 117, 0.12);
  --secondary-gray-button-bg-color-active: rgba(29, 54, 83, 0.17);
  --secondary-gray-button-bg-color-disabled: rgba(0, 0, 0, 0);
  --secondary-gray-button-bg-color-disabled-border: rgba(29, 54, 83, 0.17);
  --secondary-gray-button-text-color: #0d0d15;
  --secondary-gray-button-text-color-disabled: rgba(34, 52, 73, 0.4);
  --tertiary-button-bg-color: rgba(0, 0, 0, 0);
  --tertiary-button-bg-color-hover: rgba(41, 77, 117, 0.12);
  --tertiary-button-bg-color-active: rgba(29, 54, 83, 0.17);
  --tertiary-button-bg-color-disabled: rgba(0, 0, 0, 0);
  --tertiary-button-bg-color-disabled-border: rgba(0, 0, 0, 0);
  --tertiary-button-text-color: #0d0d15;
  --tertiary-button-text-color-disabled: rgba(34, 52, 73, 0.4);
  --alert-button-bg-color: #fa625b;
  --alert-button-bg-color-hover: #e54d4d;
  --alert-button-bg-color-active: #d02535;
  --alert-button-bg-color-disabled: rgba(0, 0, 0, 0);
  --alert-button-bg-color-disabled-border: rgba(29, 54, 83, 0.17);
  --alert-button-text-color: #fff;
  --alert-button-text-color-disabled: rgba(34, 52, 73, 0.4);
  --promo-button-bg-color: #1d1c28;
  --promo-button-bg-color-hover: rgba(42, 53, 65, 0.95);
  --promo-button-bg-color-active: #1d1c28;
  --promo-button-bg-color-disabled: rgba(0, 0, 0, 0);
  --promo-button-bg-color-disabled-border: rgba(29, 54, 83, 0.17);
  --promo-button-text-color: #f5f8fb;
  --promo-button-text-color-disabled: rgba(34, 52, 73, 0.4);
  --facebook-button-bg-color: #1877f2;
  --facebook-button-bg-color-hover: #4893f5;
  --facebook-button-bg-color-active: #0b5fcc;
  --facebook-button-bg-color-disabled: rgba(0, 0, 0, 0);
  --facebook-button-bg-color-disabled-border: rgba(0, 0, 0, 0);
  --facebook-button-bg-text-color: #fff;
  --facebook-button-bg-text-color-disabled: rgba(34, 52, 73, 0.4);
  --vkontakte-button-bg-color: #4c75a3;
  --vkontakte-button-bg-color-hover: #698fb9;
  --vkontakte-button-bg-color-active: #3c5c80;
  --vkontakte-button-bg-color-disabled: #fff;
  --vkontakte-button-bg-color-disabled-border: rgba(0, 0, 0, 0);
  --vkontakte-button-bg-text-color: #fff;
  --vkontakte-button-bg-text-color-disabled: rgba(34, 52, 73, 0.4);
  --body-bg-color: #eff2f6;
  --content-card-border-radius: 12px;
  --primary-button-color: #00a88e;
  --primary-button-color-hover: #23d1ae;
  --primary-button-color-active: #006d5c;
  --primary-button-color-disabled: #cccccc;
  --primary-button-color-shadow: #006d5c;
  --secondary-button-color: var(--primary-button-color);
  --secondary-button-color-hover: var(--primary-button-color-hover);
  --secondary-button-color-active: var(--primary-button-color-active);
  --secondary-button-color-disabled: #b3b3b3;
  --secondary-button-color-shadow: #1d1d1b;
  --secondary-button-border: #b3b3b3;
  --secondary-button-border-hover: #cccccc;
  --secondary-button-border-active: #999999;
  --secondary-button-border-disabled: #cccccc;
  --danger-button-color: #ed2939;
  --danger-button-color-hover: #ff4455;
  --danger-button-color-active: #bd1c29;
  --primary-link-color: #00a88e;
  --selected-underline-color: #00a88e;
  --primary-toggle-color: #00a88e;
  --focus-color: #ffbe26;
  --welcome-header-logo-width: 155px;
  --welcome-header-logo-height: 30px;
  --header-logo-width: 150px;
  --header-logo-height: 32px;
  --primary-text-color: #00a88e;
  --main-text-color: #1d1d1b;
  --critical-text-color: #ed2939;
  --checkbox-background-color: #00a88e;
  --checkbox-background-color-hover: #23d1ae;
  --checkbox-background-color-active: #006d5c;
  --passcode_border-radius: 3px;
  --primary-banner-background-color: #e3faf6;
  --primary-banner-border-color: rgba(0, 102, 87, 0.4);
  --loader-stroke-color: #ffaa00;
  --color-input-border: rgba(29, 54, 83, 0.17);
  --color-input-border-hover: #088572;
  --input-border-radius: 5px;
  --input-border-width: 1px;
  --input-border-width-active: 2px;
  --color-text-gray: #999999;
  --color-text-placeholder: #999999;
  --color-info-text: #0080c7;
  --color-search: #ffaa00;
  --color-text-error: #ed2939;
  --color-active-primary: #006d5c;
  --color-link-hover: #23d1ae;
  --menu-primary-color: #00a88e;
  --menu-primary-hover-color: #23d1ae;
  --menu-primary-active-color: #006d5c;
  --border-hover-color: #23d1ae;
  --logo-width: 98px;
  --logo-height: 20px;
  --tab-panel-underline: inset 0px -2px rgba(41, 77, 117, 0.09);
  --color-text-emerald: #088572;
  --top-menu-height: 56px;
  --top-menu-height-mobile: 48px;
  --logo-background-size: 100% auto;
  --fade-blue-rest-30: rgba(81, 174, 226, 0.3);
  --fade-black-5: rgba(29, 29, 27, 0.05);
  --fade-black-15: rgba(29, 29, 27, 0.15);
  --fade-black-30: rgba(29, 29, 27, 0.3);
  --fade-black-40: rgba(29, 29, 27, 0.4);
  --fade-black-80: rgba(29, 29, 27, 0.8);
  --fade-gray-disabled-60: rgba(204, 204, 204, 0.6);
  --fade-gray-active-60: rgba(153, 153, 153, 0.6);
  --fade-white-70: rgba(255, 255, 255, 0.7);
  --fade-white-60: rgba(255, 255, 255, 0.6);
  --fade-white-80: rgba(255, 255, 255, 0.8);
  --fade-primary-ready-20: rgba(35, 209, 174, 0.2);
  --lighten-black-10: #373734;
  --lighten-black-secondary-10: #808080;
  --darken-black-secondary-10: #4d4d4d;
  --darken-color-black-10: #030302;
  --darken-gray-background-10: #ced7e4;
  --color-primary-rest-darken: #004238;
  --lighten-destructive-rest-10: #f15865;
  --lighten-primary-rest-10: #00dbb9;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-size: 1rem;
  position: relative;
  color: var(--main-text-color);
  font-weight: 500;
  overflow: hidden;
  width: 100vw;
  min-height: 100vh;
  background: var(--body-bg-color);
  overflow-y: auto;
}
