.hero {
  background: radial-gradient(
    circle,
    rgba(81, 194, 107, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 52%,
    rgba(81, 194, 107, 1) 94%
  );
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.textWrapper {
  text-align: center;
  transform: translateY(-30%);
  color: var(--primary-button-color);
  /* color: var(--color-text-icons-elements__primary); */
  font-family: var(--kaspersky-sans);
}

.title {
  font-size: 150px;
  font-weight: 400;
}

.points {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.statisticItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 253px;
  height: 92px;
}

.statisticItem span {
  color: #00836f;
  text-align: center;
}
